<head>
  <title>{{page-title}}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta name="author" content="{{author}}" />
  {{#description}}
  <meta name="description" content="{{description}}" />
  {{/description}}
  {{#keywords}}
  <meta name="keywords" content="{{keywords}}" />
  {{/keywords}}
  <style>
   #ds-thread #ds-reset .ds-comment-body p {color: #ffffff;}
   #ds-thread #ds-reset .ds-comment-body p a {color: #ff0;}
   #ds-thread #ds-reset .ds-comment-body p a:hover {color: #0ff;}
   #disqus_thread a {color: #00ffff;}
  </style>
  <link rel="stylesheet" href="/media/css/main.css" type="text/css"/>
  <link rel="stylesheet" href="/media/css/comment.css" type="text/css"/>
</head>
