ac-comphist.dat
auto-save-list
recentf
var
url/*
bookmarks
newsticker/feeds/Emacs Wiki/data
newsticker/feeds/Hacker News/data
.emacs-theme
server/**
server
.mc-lists.el
tramp
modes-init/init-marmalade.el
modes-init/init-paradox.el
projectile-bookmarks.eld
/tmp/savehist
