[submodule "yasnippet"]
	path = yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "el-get"]
	path = el-get
	url = git://github.com/dimitri/el-get.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://github.com/magit/magit.git
[submodule "vendor/hyde"]
	path = vendor/hyde
	url = git://github.com/copyninja/Hyde.git
