ac-comphist.dat
auto-save-list


/var
/url/*
/bookmarks
/modes-init/init-marmalade.el
/newsticker/feeds/Emacs Wiki/data
/newsticker/feeds/Hacker News/data
.emacs-theme
server/**
server
tramp
.mc-lists.el
/tramp
