<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Realtime Emacs Markdown View</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
      $(function () {
        var ws = new WebSocket("ws://localhost:5021/markdown");
        ws.onopen = function () {
          console.log("ws connected");
        };
        ws.onclose = function (ev) {
          console.log("ws closed");
        };
        ws.onmessage = function (ev) {
          console.log("refreshing preview")
          $("#preview").html(ev.data);
        };
        ws.onerror = function (ev) {
          console.log("ws error");
          console.log(ev);
        };
      });
    </script>
    <link rel="stylesheet" href="/github-markdown.css" />
  </head>
  <body id="preview">
    <h3>Realtime Markdown Preview</h3>
    <p>Activate the Emacs markdown-mode buffer to update this view.</p>
  </body>
</html>
