<div>{{! footer}}
  {{#show-meta}}
  <div class="post-meta">
    <span title="post date" class="post-info">{{{date}}}</span>
    <span title="last modification date" class="post-info">{{mod-date}}</span>
    <span title="tags" class="post-info">{{{tag-links}}}</span>
    <span title="author" class="post-info">{{author}}</span>
  </div>
  {{/show-meta}}
  <script src="/media/js/jquery-2.1.3.min.js"></script>
  <script src="/media/js/md5.min.js"></script>
  <!-- 添加一叶 -->
  <link href="https://yiyechat.com/open-source/build/content-static/css/main.css" rel="stylesheet">
  <script src="https://yiyechat.com/open-source/build/content-static/js/main.js" ></script>
  {{#show-comment}}
  <section>
      <div id="gitalk-container"></div>
      <script type="text/javascript">
       var gitalk = new Gitalk({
           clientID: 'fdcb5d9da3f4acb4862c',
           clientSecret: 'dd0a16312a206782cb7669dcec5e96874ab48170',
           repo: 'lujun9972.github.com',
           owner: 'lujun9972',
           admin: ['lujun9972'],
           id: md5(location.pathname),      // Ensure uniqueness and length less than 50
           distractionFreeMode: false  // Facebook-like distraction free mode
       })

       gitalk.render('gitalk-container')
      </script>
  </section>
  {{/show-comment}}
  <script src="/media/js/kdComment.js"></script>
  {{#google-analytics}}
      <script>
       var _hmt = _hmt || [];
       (function() {
           var hm = document.createElement("script");
           hm.src = "https://hm.baidu.com/hm.js?{{google-analytics-id}}";
           var s = document.getElementsByTagName("script")[0]; 
           s.parentNode.insertBefore(hm, s);
       })();
      </script>
  {{/google-analytics}}
  <div class="footer">
    <p>Generated by {{{creator-info}}}</p>
    <p>
      Copyright &copy; 2014 - <span id="footerYear"></span> <a href="mailto:{{email}}">{{author}}</a>
      &nbsp;&nbsp;-&nbsp;&nbsp;
      Powered by <a href="https://github.com/emacs-china/EGO" target="_blank">EGO</a><br/>
      Themed with <a href="https://github.com/kuangdash/emacs_love" target="_blank">emacs_love</a>
        <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license"><img src="https://licensebuttons.net/l/by-sa/3.0/88x31.png" style="border-width:0" alt="Creative Commons License" class="center"></a>
      <script type="text/javascript">document.getElementById("footerYear").innerHTML = (new Date()).getFullYear();</script>
    </p>
  </div>
    </div>
