<div>
  <div class="post">
    <h1>{{cat-name}} Index</h1>
    <ul class="org-ul-up">
      {{#posts}}
        <li>
          <span>{{date}}&nbsp;&nbsp;»&nbsp;&nbsp;
            <a href="{{post-uri}}">{{post-title}}</a>
            <span><code>{{{tag-links}}}</code></span>
          </span>  
        </li>
      {{/posts}}
    </ul>
    <h1>&nbsp;&nbsp;</h1>
  </div>
</div>