<head>
  <title>{{page-title}}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta name="author" content="{{author}}" />
  {{#description}}
  <meta name="description" content="{{description}}" />
  {{/description}}
  {{#keywords}}
  <meta name="keywords" content="{{keywords}}" />
  {{/keywords}}
  <!-- <link rel="stylesheet" href="/media/css/main.css" type="text/css"/>
       <link rel="stylesheet" href="/media/css/comment.css" type="text/css"/> -->
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
</head>
