<div>
  <div class="post">
    <h1>{{summary-name}}: {{summary-item-name}}</h1>
    <ul class="org-ul-up">
      {{#posts}}
        <li>
          <span>{{post-date}}&nbsp;&nbsp;»&nbsp;&nbsp;
            <a href="{{post-uri}}">{{post-title}}</a>
            <span><code>{{{tag-links}}}</code></span>
          </span>
        </li>
      {{/posts}}
    </ul>
    <br/>
    <h1>{{summary-name}}: Index</h1>
    <ul class="org-ul-down">
      {{#summary}}
        <li><a href="{{summary-item-uri}}">{{summary-item-name}} ({{count}})</a>
        </li>
      {{/summary}}
    </ul>
  </div>
</div>