<div>
  <div class="post">
    {{#updates-p}}
    <h1>Updates</h1>
    <ul class="org-ul-up">
      {{#updates}}
        <li>
          <span>{{post-date}}&nbsp;&nbsp;»&nbsp;&nbsp;
            <a href="{{post-uri}}">{{post-title}}</a>
            <span><code>{{{tag-links}}}</code></span>
          </span>
        </li>
      {{/updates}}
    </ul>
    {{/updates-p}}
    <h1>{{summary-name}}: Index</h1>
    <ul class="{{summary-name}}">
      {{#summary}}
        <li><a href="{{summary-item-uri}}">{{summary-item-name}} ({{count}})</a></li>
      {{/summary}}
    </ul>
  </div>
</div>